{% extends 'base.html' %}

{% block app_content %}
    <div class="welcome-section">
        <h1 class="welcome-title">Welcome, {{ current_user.username }}!</h1>
    </div>

    <div class="info-section">
        <div class="slogan">
            <h2>Convert your music to sheet music effortlessly!</h2>
        </div>
        <div class="description">
            <p>Our smart tool simplifies music composition by transcribing your melodies into sheet music.</p>
        </div>
        <div class="description">
            <p>Click below to get started.</p>
        </div>

        <div class="upload-button-container">
            <a href="{{ url_for('upload') }}" class="upload-button">UPLOAD</a>
        </div>
    </div>
{% endblock %}
